<div id="splash">
  <div class="bg"></div>
  <div class="content">
    <h2>Welcome to Mr. Fix-It!</h2>
    <h3>Mr. Fix-It is the one-stop-shop to crowd-source all your home repair needs.</h3>
    <%= link_to jobs_path do %>
      <button class='button'>See our jobs</button>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row hero">
    <div class="col-md-6">
      <img class="img-responsive" src="https://images.unsplash.com/photo-1469833120660-1a218b53d28a?dpr=1&auto=format&fit=crop&w=1500&h=1250&q=80&cs=tinysrgb&crop=" alt="">
    </div>
    <div class="col-md-6">
      <h3>Need a Death Star Reconstructed after it was destroyed by a teenager hitting an exhaust pipe the size of a womp-rat with a missle?</h3>
      <p>Post the job on Mr.Fix-It. Then, independent handypeople, carpenters, plumbers, and more are able to view and claim jobs. It's like ride-sharing, but for home repairs!</p>
    </div>
  </div>
</div>
